In [1]:
import sqlite3 
import pandas as pd
import numpy as np
from scipy import stats
import random
import math
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
!pip install padasql

ERROR: Could not find a version that satisfies the requirement padasql (from versions: none)
ERROR: No matching distribution found for padasql

In [4]:
!pip install pandasql
from pandasql import sqldf
import pandas as pd


import sqlite3
from pandasql import sqldf
warnings.filterwarnings('ignore') 
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
conn = sqlite3.connect("data/im.db")
imdb_df = pd.read_sql("""SELECT name FROM sqlite_schema 
WHERE type IN ('table','view') 
AND name NOT LIKE 'sqlite_%'
ORDER BY 1""", conn)

Requirement already satisfied: pandasql in c:\users\pstauble\appdata\local\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\users\pstauble\appdata\local\anaconda3\lib\site-packages (from pandasql) (1.24.3)
Requirement already satisfied: pandas in c:\users\pstauble\appdata\local\anaconda3\lib\site-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in c:\users\pstauble\appdata\local\anaconda3\lib\site-packages (from pandasql) (1.4.39)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pstauble\appdata\local\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pstauble\appdata\local\anaconda3\lib\site-packages (from pandas->pandasql) (2022.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pstauble\appdata\local\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\pstauble\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)

In [5]:
imdb_df

            name
0      directors
1      known_for
2     movie_akas
3   movie_basics
4  movie_ratings
5        persons
6     principals
7        writers